@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Merriweather", serif;
}

body {
  background-color: #fbf7f4;
}

.hero {
  background-color: #f9eae0;
  /* padding: 50px 0; */
  padding: 10px 0 40px 0;
}

.hero h3 {
  font-size: 5rem;
}

.shop_now {
  background-color: #fff;
  padding: 50px;
  margin: 10px 0;
  border-radius: 20px;
  font-size: 1.3rem;
}
.main_heading {
  font-size: 2.7rem;
}

.shop_now__text {
  margin-top: 20px;
}

.img-rounded {
  background: #fff;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
.img-rounded img {
  width: 370px;
  margin: auto;
}
.nav-img {
  margin: 10px 0;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}
.nav-img img {
  width: 55px;
  margin: auto;
  z-index: 100;
}
.connector {
  display: none;
  position: absolute;
  right: 50px;
  top: 22px;
  z-index: 2;
  margin: auto;
}
.active {
  display: block;
}
.arrow {
  font-size: 2rem;
  text-align: center;
  background-color: #a6654b;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: white;
  /* margin: auto; */
  padding-top: 5px;
  position: absolute;
  bottom: 200px;
}

.eclipse {
  /* Ellipse 16 */

  position: absolute;
  width: 512px;
  height: 506px;
  left: 890px;
  top: 1750px;

  border: 2px solid #a6654b;
  box-sizing: border-box;
}

.shop_now__image {
  position: relative;
}
.shop_now__image img {
  /* IMG_4584AA 1 */

  position: absolute;
  width: 280px;
  margin: auto;
  /* height: 402px; */
  left: 107px;
  top: 28px;
}

.card {
  border-radius: 50px;
}

.card > * {
  /* width: 80% !important; */
  margin: auto;
}
.card img {
  width: 80% !important;
  margin: auto;
}

.btn-subito {
  background: #a6654b;
  color: white;
  padding: 7px;
  border-radius: 10px;
}

.shop_now__image svg {
  width: 500px;
  height: 320px;
}

.shop_now__social_icons {
  display: flex;
  justify-content: space-around;
}

.whatsapp_rectangle {
  height: 35px;
  width: 175px;
  background-color: #21d367;
  padding: 5px 5px;
  border-radius: 25px;
  align-self: center;
  color: white;
}

.whatsapp_rectangle i {
  font-size: 1.5rem;
}
.primray-text {
  color: #a6654b;
  font-size: 2.6rem;
}
.product_slider {
  padding: 80px 0px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

.contatti {
  padding: 100px 0px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.price {
  font-weight: 800;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .owl-nav{
    position: relative;
  }
  .product_slider {
    padding: 80px 0px;
    height: 850px;
}
  .shop_now__social_icons {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    justify-content: space-evenly;
  }
  .whatsapp_rectangle {
    margin: 15px auto;
  }
  .nav-images {
    display: flex;
    justify-content: space-around;
  }

  body {
    text-align: center;
  }

  .shop_now {
    text-align: start;
  }
  .shop_now__image img {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 0;
    /* margin-top: -250px; Half the height */
    /* margin-left: -250px; Half the width */
    /* height: 402px; */
  }
  .shop_now__image svg {
    width: 100%;
    /* height: 320px; */
  }
  .img-rounded {
    background: #fff;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: auto;
  }
  .img-rounded img {
    width: 300px;
    margin: auto;
  }
}
